/*this is general styling*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Helvetica", "Arial";
}

/*this is for the hamburger*/

$button-size: 20px;
$button-color: #000;

@function calc-line-height($n) {
	@return $n / 5;
}

@mixin css3-rotation($n) {
	-ms-tranform: rotate($n);
	-webkit-tranform: rotate;
	tranform: rotate($n);
}


.menu-icon {
	position: absolute;
	padding: 20px;
	width: 100px;
}

.hamburger {
	width: $button-size;
	height: $button-size;
	display: block;
	position: relative;
	background: none;
	margin: 0 0 10px 0;

	&:after, &:before, span, label {
		content: ' ';
		display: block;
		height: calc-line-height( $button-size );
		background: $button-color;
		left: 0;
		position: absolute;
		-webkit-transition: all 300ms ease-in-out;
		transition: all 300ms ease-in-out;
	}
	&:before {
		top: 0;
	}
	&:after {
		bottom: 0;
	}
	&:focus {
		outline: none;
	}
	label {
		width: 100%;
		height: 100%;
		background: none;
		cursor: pointer;
		z-index: 1000;
	}
	span {
		top: calc-line-height( $button-size ) * 2;
	}
}

#change-hamburger {
	display: none;

	&:checked ~ .hamburger:before, &:checked ~ .hamburger:after {
		top: $button-size / 2;
		margin-top: -10%;
	}
	&:checked ~ .hamburger:before {
		@include css3-rotation(-45deg)
	}
	&:checked ~ .hamburger:after {
		@include css3-rotation(45deg)
	}
	&:checked ~ .hamburger span {
		opacity: 0;
	}
}

a {
	text-decoration: none;
	color: #fff;
	padding: 5px 10px;
	display: block;

	&:hover {
		background-color: #fff;
	}
}

/* postioning the image container */

.image-container {
	position: relative;
}

/* hide slides by default */

.mySlide {
	display: hidden;
}

/* add pointer when hovering over the thumbnails */

.cursor {
	cursor: pointer;
}

/* next and previous buttons */

.previous,
.next {
	cursor: pointer;
	position: absoulute;
	top: 40%;
	width: auto;
	padding: 16px;
	margin-top: auto; /* maybe change later */
	color: white;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

/* postion the next button */

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* on hover, add a background color */

.previous:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* image number text */

.image-text {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

/* columns side by side */

.column {
	float: left;
	width: 16.66%;
}

/* add transparency effect for thumbnail images */

.demo {
	opacity: 0.6;
}

.active,
demo:hover {
	opacity: 1;
}

/* grid system for left side content */

.left-side-content {
	width: 50%;
	float: left;
}

.right-side-content {
	width: 50%;
	float: right;
}

/* img styling/sizing */

img {
	width: 100%;
}

.grid-container {
	position: relative;
}

/* styling the form */
.form-spacer {
	padding: 10px;
	margin: 5px;
}

.form-unspacer {
	margin-bottom: 1px;
	padding-bottom: 4px;
}

.book-test-drive,
.send {
	width: 37%;
	height: 30px;
	color: white;
	border: none;
	padding: 0;
	background: none;
	font-size: x-small;
	border-radius: 20px;
	background-color: #ff5d00;
}

.contact-on-whatsapp {
	width: 37%;
	color: #000;
	height: 30px;
	font-size: x-small;
	border-radius: 20px;
	background-color: #fff;
	font-family: 'Helvetica', 'Arial';
}

#fname,
#cnumber,
#email,
#msg-box {
	width: 74%;
	height: 27px;
	border-radius: 20px;
}

#email {
	background-position: 50%;
	background-size: contain;
	flag-icon-background: au;
	background-repeat: no-repeat;
}

#msg-box {
	height: 100px;
}

/* checkbox styling and positioning */

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
	position: relative;
	left: 70px;
	float: left;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
	postion: relative;
	padding-left: 1.9em;
	cursor: pointer;
	float: left;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
	content: '';
	position: absolute;
	left: 0; top: 0;
	border: 1px solid #ccc;
	background: #fff;
	border-radius: 0px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
	float: left;
}

/* styling the form horizontal lines */

.age,
.licence {
	border: none;
	border-bottom: 1px solid #000;
	padding: 5px 10px;
	outline: none;
	width: 40%;
}

/* select list */
.select-list {
	color: #000;
}

/* grid system */

#grid {
	display: grid;
	height: auto;
	grid-template-rows: 100px;
	grid-template-colums: repeat(9, 1fr);
}

#left-side {
	background-color: #fff;
}

#right-side {
	background-color: #fff;
	grid-column: 2 / 6;
}

/* grid layout */

* {box-sizing: border-box;}

.wrapper {
    margin: 30px;
    border-radius: 5px;
    background-color: #fff;
    border: 2px solid #fff;
}

.wrapper > div {
    padding: 1em;
    border-radius: 5px;
    border: 2px solid #fff;
    background-color: #fff;
}
.wrapper {
  display: grid;
  grid-template-areas: "header";
  grid-template-rows: 800px 800px;
  grid-template-columns: 2.9fr 2fr;
}

/*slide show styler */

* {
  font-size: x-small;
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  width: 90%;
  height: 90%;
  right: 30px;
  margin-left: 75px;
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  top: 40%;
  width: auto;
  color: #fff;
  padding: 16px;
  font-size: 20px;
  cursor: pointer;
  margin-top: -50px;
  user-select: none;
  position: absolute;
  background-color: #e6e6e6;
  -webkit-user-select: none;
  border-radius: 0 2px 2px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
/*.prev:hover,*/
/*.next:hover {*/
/*  background-color: rgba(0, 0, 0, 0.8);*/
/*}*/

/* Number text (1/3 etc) */
.numbertext {
  top: 0;
  font-size: 12px;
  color: #f2f2f2;
  padding: 8px 12px;
  position: absolute;
}

/* Container for image text */
.caption-container {
  color: white;
  padding: 2px 16px;
  text-align: center;
  background-color: #222;
}

.row:after {
  clear: both;
  content: " ";
  display: table;
}

.row {
	padding-top: 10px;
}

/* Six columns side by side */
.column {
  float: left;
  width: 13.3%;
  height: 15.5%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
  padding-left: 5px;
}

.active,
.demo:hover {
  opacity: 1;
}

.form-section {
	font-family: 'Helvetica', 'Arial';
}

.top-text {
	padding-left: 50px;
	color: rgb(255, 102, 0)
}

/* styling the header */
.main-head {
	grid-area: header;
}

/* Navigation bar styling */

/* add background color to nav bar */

.topnav {
	overflow: hidden;
	background-color: black;
}

.topnav a {
	float: left;
	color: black;
	display: block;
	font-size: 19px;
	padding: 14px 16px;
	text-decoration: none;

}

/* Style the inquiry text */

.inquiry-text {
	float: right;
	
}

@media screen and (max-width: 600px) {
	.topnav a, .topnav inquiry-text{
		margin: 0;
		float: none;
		padding: 14px;
		display: block;
		text-align: left;
	}
	.topnav inquiry-text {
		border: 1px solid #ccc;
	}
}

header {
	background: #fff;
	position: relative;
}

nav ul {
	margin: 0;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	list-style: none;
}

nav li {
	margin: 0 10px;
	position: relative;
}

nav ul li a {
	color: #444;
	font-size: 12px;
	text-decoration: none;
	font-family: "Helvetica", "Arial";

}

nav a:hover {}

nav a::before {
	width: 0px;
	content: '';
	height: 50px;
}

nav a:hover::before {
	width: 100px;
}

nav ul li:first-child {
	margin: 0;
	float: left;
}

nav ul li:last-child {
	margin-left: auto;
}

/* styling the hr tag */

hr {
	border-top: 1px solid #000;
}

/* svg image related */

nav ul li img {
	float: right;
}

.svg-container {
	width: 100%;
	overflow: hidden;
	position: relative;
	padding-bottom: 100%;
	display: inline-block;
	vertical-align: middle;
}

/* font resizer for the form */

.form {
	font-size: x-small;
}

.left-side {
	font-size: x-small;
}

.brand {
	font-size: x-small;
}

/* For the flag Library */
.iti__flag {
	background-image: url("node_modules/intl-tel-input/src/js/intlTelInput.js")
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.iti__flag {
		background-image: url("node_modules/intl-tel-input/src/js/intlTelInput.js");
	}
}